{
  "plugins": [
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }],
    ["es2015", { "modules": false }],
    "react",
    "stage-0"
  ]
}
